/**
 * partials/header
 * ---
 */


// Header container
//.header {}

// Logo
.logo {
  width: 35%;
  max-width: 160px;
  position: absolute;
  z-index: 1;
  top: 3%;
  left: 7%;
}

//.logo-img {}


.bg-custom-blue {
  background-color: $font-blue;
}

//.logo-img {}

//Get rid of margins
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}