/**
 * partials/page-homepage.scss
 * ---
 */

.profile-image {
    max-width: 200px;
}

.jumbotron {
    border-radius: 0;
  }
  
  .jumbobox {
    padding: 4rem 1rem;
    background-color: #8E3B46;
  }
  
  .text-box {
    background-color: rgba(71,120,144,0.6);
    padding: 2rem;
    opacity: 0.6;
  }

  .text-color {
      color: #DEFFFC;
  }